.cart-item {
	text-align: center;

	.cart-item-image {
		height: 200px;
		width: 200px !important;
		margin: auto auto 1rem;
		object-fit: cover;
	}

	.cart-item-details {
		p {
			margin-bottom: 0rem;
		}

		a {
			display: block;
			margin-bottom: 0.5rem;
		}

		label {
			font-size: 0.9rem;
		}

		input {
			margin: 0.25rem auto;
			width: 10ch;
		}
	}

	.cart-item-total {
		margin-top: 0.5rem;
		.btn {
			width: fit-content;
		}
	}
}

@include media-breakpoint-up(md) {
	.cart-item {
		text-align: left;

		.cart-item-image {
			margin: 0;
		}

		.cart-item-details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;

			input {
				margin: 0.25rem 0rem 0rem;
			}
		}

		.cart-item-total {
			text-align: end;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
		}

		.row > * {
			width: auto;
		}
	}
}
