.hero-banner {
	height: 600px;
	max-height: 100vh;
	position: relative;
	overflow: hidden;

	.hero-banner-image-wrapper {
		width: 100%;
		height: 600px;
		background-color: #202020;

		.hero-banner-image {
			transition: 1.5s ease;
			width: 100%;
			height: 600px;
			object-fit: cover;
			object-position: center;
			transform: scale(1.5);
			opacity: 0;
		}
	}

	.hero-banner-content-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, transparent 50%);

		.hero-banner-content {
			color: #ffffff;
			position: relative;
			margin-bottom: 5rem;
			
			:not(.btn) {
				text-shadow: 1px 1px 5px black;
			}

			h2 {
				font-size: 3rem;
				font-weight: 700;
			}

			p {
				font-size: 1.5rem;
				font-weight: 500;
			}

			.btn-lg {
				background-color: transparent;
				border-color: #efefef;
				position: relative;
				z-index: 1;
				transition: 0.25s ease;

				&::before {
					content: "";
					position: absolute;
					z-index: -1;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background-color: $primary;
					transition: 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
					transform: scaleX(0);
					transform-origin: left;
				}

				&:hover {
					text-shadow: none;

					&::before {
						transform: scaleX(1);
					}
				}
			}
		}
	}
}
